<div class="main">
    <div class="container">
      <div class="row top_nav center">
         <div class="col-sm-3">
          <img src="../../assets/images/logos.PNG" class="logo-img img-fluid" alt="title">
        </div>
         <div class="col-sm-9">
        <h3>Starbucks Customer</h3> 
        <h3>Experience Survey</h3> 
        </div>

        </div>

        <div class="main_content">
                <h5>ABOUT SURVEY</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                     galley of type and scrambled it to make a type specimen book</p>
    
        </div>
    </div>
    <hr>
  </div>
